<mat-toolbar color="primary">
    <span>MyApp</span>
    <span class="spacer"></span>
    <nav>
        <a routerLink="/" routerLinkActive="active">Home</a>
        <a routerLink="/counter" routerLinkActive="active">Counter</a>
        <a routerLink="/property-binding" routerLinkActive="active">Property Binding</a>
        <a routerLink="/control-satatement" routerLinkActive="active">Control Satatement</a>
        <a routerLink="/nested-loop" routerLinkActive="active">Nested Loop</a>
        <a routerLink="/style-binding" routerLinkActive="active">Style Binding</a>
        <a routerLink="/basic-form" routerLinkActive="active">Basic Form</a>
        <a routerLink="/user" routerLinkActive="active">Users</a>
    </nav>
</mat-toolbar>

<ul>
    <li><a routerLink="/user/10">Deepak</a></li>
    <li><a routerLink="/user/20">Vishal</a></li>
    <li><a routerLink="/user/30">Sonu</a></li>
    <li><a routerLink="/user/40">Nikhil</a></li>
    
</ul>
<!-- <h1>Angular Router App</h1>
<nav>
  <ul>
    <li><a routerLink="" routerLinkActive="active" ariaCurrentWhenActive="page">counter</a></li>
    <li><a routerLink="counter" routerLinkActive="active" ariaCurrentWhenActive="page">counter</a></li>
    <li><a routerLink="basic-form" routerLinkActive="active" ariaCurrentWhenActive="page">Basic form</a></li>
  </ul>
</nav> -->


  