mat-toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  
    .spacer {
      flex: 1;
    }
  
    nav {
      a {
        text-transform: uppercase;
        color: rgb(34, 34, 34);
        text-decoration: none;
        margin-left: 15px;
  
        &:hover {
          color: #8790e4;
          cursor: pointer;
        }
      }
    }
  }
  