<!-- <app-counter></app-counter> -->
<!-- <app-property-binding></app-property-binding> -->
<!-- <app-control-satatement></app-control-satatement> -->
<!-- <app-nested-loop></app-nested-loop> -->
<!-- <app-style-binding></app-style-binding> -->
<!-- <app-basic-form></app-basic-form> -->
<!-- <app-todo-list></app-todo-list> -->
<!-- <app-data-share></app-data-share> -->
<!-- <app-two-way-binding></app-two-way-binding> -->
<!-- <app-template-reference-variable></app-template-reference-variable> -->
 <!-- <app-basic-pipe></app-basic-pipe> -->
  <!-- <app-template-driven-form></app-template-driven-form> -->
   <app-reactive-form></app-reactive-form>